*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
span{
    color:#f9004d;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: auto;
}
#navbarText ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.navbarText ul li a :hover{
    color:#f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    border: 2px solid ;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
 .card:hover{
     background-color: palevioletred;
 }
 .container{
    padding: 10px;
    margin: auto;
 }
 .skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(20, 153, 220);
    color: rgb(14, 9, 9);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(20, 153, 220);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: rgb(20, 153, 220);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(20, 153, 220);
}
.skills-content .right .tw::before{
    width: 70%;
}
.skills-content .right .gc::before{
    width: 45%;
}
.skills-content .right .cl::before{
    width: 40%;
}
.skills-content .right .h::before{
    width: 100%;
}
.skills-content .right .l::before{
    width: 65%;
}
.skills-content .right .tb::before{
    width: 70%;
}

